* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
}
:root {
  --color-primary: #353b80;
  --color-success: #00bf8e;
  --color-warnings: #f7c94b;
  --color-danger: #a85187;
  --color-danger-varient: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #011d3b;
  --color-bg1: #02102b;
  --color-bg2: #031b39;
  --bg-image: url(https://static.vecteezy.com/system/resources/thumbnails/008/854/621/small/grunge-texture-for-background-dark-white-background-with-unique-texture-abstract-grainy-background-old-painted-wall-png.png);

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}
body {
  font-family: "Archivo", sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background-image: url(https://images.unsplash.com/photo-1555066931-4365d14bab8c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
section {
  padding: 6rem 0;
}
section h2 {
  text-align: center;
  margin-bottom: 4rem;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.5rem;
}
a {
  color: var(--color-white);
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.btn {
  display: inline-block;
  background: var(--color-white);
  color: var(--color-black);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
  border-radius: 1.2rem;
}
.btn:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}
.btn-primary {
  background: var(--color-danger);
  color: var(--color-white);
  transition: var(--transition);
}
/*******************************COOKIE POPUP***************************/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.donation__popup {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  max-width: 30rem;
  background: var(--color-bg2);
  color: white;
  padding: 20px;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.gfm-embed iframe {
  height: 200px;
  overflow-y: scroll;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  z-index: 1001;
}
/*******************************NAVBAR***************************/
nav {
  background-image: none;
  background: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 3.1rem;
  z-index: 11;
  transition: top 0.3s;
}
.window-scroll {
  background: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(10px);
  transition: 400ms ease-in-out;
}
.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}
nav button {
  border: transparent;
  display: none;
}
.nav__menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav__menu a {
  font-size: 1rem;
  transition: var(--transition);
}
.nav__menu a:hover {
  color: var(--color-bg2);
}

/*******************************HEADER***************************/
header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 80vh;
  margin-bottom: 5rem;
  background-image: url(https://images.unsplash.com/photo-1555066931-4365d14bab8c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100vh;
}
.header__left p {
  margin: 1rem 0 2.4rem;
}
.header__right-img {
  margin-bottom: 1rem;
}

/*******************************CATEGORIES***************************/
.categories {
  background: var(--color-bg1);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
  height: auto;
  min-height: 29rem;
}
.categories h1 {
  line-height: 1;
  margin-bottom: 1rem;
}
.categories__container {
  display: grid;
  grid-template-columns: 40% 60%;
}
.categories__left p {
  margin-bottom: 1rem;
  margin-right: 4rem;
}
.categories__left h2 {
  margin-bottom: 1rem;
  text-align: left;
}
.categories__right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  align-items: stretch;
}
.category {
  background-color: var(--color-bg2);
  border-radius: 2rem;
  padding: 2rem;
  transition: var(--transition);
  height: 100%;
  display: flex;
  flex-direction: column;
}
.category:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
}
.category__icon {
  background: var(--color-primary);
  padding: 0.7rem;
  border-radius: 0.9rem;
}
.category h5 {
  font-size: 1.1rem;
  margin: 2rem 0 1rem;
}
.category p {
  font-size: 1rem;
  flex-grow: 1;
}
.category:nth-child(2) .category__icon {
  background-color: var(--color-danger);
}
.category:nth-child(3) .category__icon {
  background-color: var(--color-success);
}

/*******************************POPULARCOURSES***************************/
.courses {
  background: var(--color-bg);
  text-align: center;
  padding: 2rem 0;
}

.courses__container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
}

.courses h1 {
  line-height: 1;
  margin-bottom: 1rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.courses h2 {
  line-height: 1;
  margin-bottom: 1rem;
}

.course {
  background-color: var(--color-bg1);
  transition: var(--transition);
  text-align: center;
  width: 100%;
  height: auto;
  min-height: 50rem;
  max-width: 30rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.course__header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background: var(--color-bg1);
  color: var(--color-white);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.course__date,
.course__author {
  font-size: 0.9rem;
}

.course__text {
  text-align: center;
  padding: 2.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course p {
  padding-bottom: 1rem;
  flex-grow: 1;
}

.course__image {
  width: 100%;
  height: 16rem;
  overflow: hidden;
}

.course__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition);
}

.course:hover .course__image img {
  transform: scale(1.05);
}

/* Specific styles for the courses in the projects page */
.projects .courses__container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 3rem;
  justify-content: center;
}

.projects .course {
  background-color: var(--color-bg1);
  transition: var(--transition);
  text-align: center;
  width: 100%;
  max-width: 40rem;
  margin: auto;
  height: auto;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.projects .course__header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background: var(--color-bg1);
  color: var(--color-white);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.projects .course__date,
.projects .course__author {
  font-size: 0.9rem;
}

.projects .course__text {
  text-align: center;
  padding: 2.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects .course p {
  padding-bottom: 1rem;
  flex-grow: 1;
}
/*******************************FAQ***************************/

.faqs {
  background: var(--color-bg1);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
  height: auto;
}
.faqs__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.faqs h1 {
  text-align: center;
  padding-bottom: 3rem;
}
.faq {
  background: var(--color-primary);
  padding: 1rem;
  align-items: center;
  height: fit-content;
  display: flex;
  cursor: pointer;
}
.faq h4 {
  font-size: 1.3rem;
  padding: 1rem 1rem 1rem 1rem;
}
.faq p {
  padding: 0rem 1rem 1rem 1rem;
  display: none;
}
.faq__icon {
  font-size: 1.2rem;
}
.faq.open p {
  display: block;
}

/*******************************FOOTER***************************/
.footer {
  background: var(--color-bg2);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
  height: 50vh;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer__about h2 {
  padding-top: 4rem;
  margin-bottom: 2rem;
  text-align: left;
}
.footer__permalinks h2 {
  padding-top: 4rem;
  margin-bottom: 2rem;
  text-align: left;
}
.footer__permalinks li {
  margin-bottom: 1rem;
  text-align: left;
}
.footer__permalinks li:hover {
  text-decoration: underline;
}
.footer__privacy h2 {
  padding-top: 4rem;
  margin-bottom: 2rem;
  text-align: left;
}
.footer__privacy li {
  margin-bottom: 1rem;
  text-align: left;
}
.footer__privacy li:hover {
  text-decoration: underline;
}
.footer__contact h2 {
  padding-top: 4rem;
  margin-bottom: 2rem;
  text-align: left;
}
.footer__socials {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  display: flex;
  gap: 1rem;
}
/*******************************IMPORTANT BANNER***************************/
.importantBanner {
  background: var(--color-danger);
  color: var(--color-white);
  padding: 1rem;
  text-align: center;
  font-weight: 300;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.1rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerText {
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 1rem;
}

header {
  margin-top: 0rem;
}
.importantBanner button {
  font-family: "Archivo", sans-serif;
  font-size: 0.95rem;
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 0%;
}
/*******************************MAP SECTION***************************/
.map-section {
  background-color: var(--color-bg1);
}

.map-section h1 {
  margin-bottom: 10px;
  text-align: center;
}
#map {
  z-index: 10;
  position: relative;
  height: 800px;
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.custom-icon {
  background-color: #011d3b;
  border: 2px solid #ffffff;
  background-image: "/images/SMZ_LOGO__3_-removebg-preview.png";
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}
.custom-icon img {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}
.total-schools {
  z-index: 1000;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #011d3b;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-family: "Archivo", sans-serif;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.total-schools h4 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.total-schools p {
  margin: 5px 0 0;
  font-size: 16px;
}
/*******************************MEDIA QUERY TABLETS***************************/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  /****************NAVBAR***************/

  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.9rem;
    color: var(--color-white);
  }
  nav button#close-menu-btn {
    display: none;
  }
  .nav__menu {
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
  }
  .nav__menu li {
    width: 100%;
    height: 5.8rem;
    animation: animateNavItems 1s linear forwards;
  }
  @keyframes animateNavItems {
    0% {
      transform: rotateZ("-90deg");
    }
    100% {
      transform: rotateZ("0");
    }
  }
  .nav__menu li a {
    background: var(--color-primary);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
  .nav__menu li a:hover {
    background-color: var(--color-bg2);
    color: white;
  }
  /****************HEADER***************/
  header {
    height: 70vh;
    margin-bottom: 4rem;
  }
  .header__container {
    gap: 0;
    padding-bottom: 3rem;
  }

  /****************CATEGORIES***************/
  .categories {
    height: auto;
  }
  .categories__container {
    grid-template-columns: 1fr;
    gap: 3rem;
    align-items: center;
  }
  .categories__left {
    margin-right: 0;
  }
  /****************COURSES***************/
  .courses {
    margin-top: 0;
    grid-template-columns: 1fr 1fr;
  }
  .courses__container {
    grid-template-columns: 1fr 1fr;
  }
  /****************FAQS***************/
  .faqs__container {
    grid-template-columns: 1fr;
  }
  .faq {
    padding: 1.5rem;
  }
  .faqs {
    height: auto;
  }
  /****************FOOTER***************/
  .footer__container {
    grid-template-columns: 1fr 1fr;
  }
  .footer {
    height: auto;
  }
}
/*******************************MEDIA QUERY PHONES***************************/
@media screen and (max-width: 600px) {
  .donation__popup {
    z-index: 9999;
    width: 90%;
    max-width: none;
    height: auto;
    max-height: 80vh;
    overflow-y: auto;
  }
  .gfm-embed iframe {
    width: 100% !important;
    height: 250px !important;
  }

  .importantBanner h3 {
    font-size: 0.8rem;
  }
  .container {
    max-width: var(--container-width-sm);
  }
  /****************NAVBAR***************/
  .nav__menu {
    right: 3%;
  }
  nav h1 {
    font-size: 1.9rem;
  }
  /****************HEADER***************/
  header {
    height: 100vh;
  }
  .header__container {
    text-align: center;
  }
  /****************CATEGORIES***************/
  .categories__right {
    grid-template-columns: 1fr;
    gap: 0.7rem;
  }
  .category {
    padding: 1rem;
    border-radius: 1rem;
    width: auto;
    margin-bottom: 1rem;
  }
  .category__icon {
    margin-top: 4px;
    display: inline-block;
  }
  /****************COURSES***************/
  .courses__container {
    grid-template-columns: 1fr;
  }
  /****************FAQ***************/
  .faqs {
    height: auto;
  }
  /****************FOOTER***************/
  .footer__container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }
  .footer {
    height: auto;
  }
  .footer p {
    margin: 1rem auto;
  }
  .footer__socials {
    justify-content: center;
  }
  .footer__about h2 {
    text-align: center;
  }
  .footer__permalinks h2 {
    text-align: center;
  }
  .footer__privacy h2 {
    text-align: center;
  }
  .footer__contact h2 {
    text-align: center;
  }
  .footer__permalinks li {
    text-align: center;
  }
  .footer__privacy li {
    text-align: center;
  }
  .footer__contact li {
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .importantBanner h3 {
    font-size: 0.85rem;
  }
  .importantBanner button {
    font-size: 0.85rem;
  }
}
